.yarn
.husky
.next
.prettierrc
.prettierignore

*.config.js
*.sh
.env*
*.json
*.svg
*.png
*.jpeg
*.jpg
*.ico
*.webp
*.webm
*.mp4
*.mov
*.gif
next-env.d.ts
node_modules
README.md
yarn.lock
robots.txt
.gitignore